/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

p, span, small, input, td, div {
    font-family: 'Noto Sans', sans-serif;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */
















 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}




body {
    background: url("../img/bg.jpg");
    background-size: contain;
    background-repeat: repeat-x;

}

td{
    vertical-align: middle!important;
}

.header {
    -webkit-box-shadow: -2px 6px 5px -6px rgba(0,0,0,0.6);
    -moz-box-shadow: -2px 6px 5px -6px rgba(0,0,0,0.6);
    box-shadow: -2px 6px 5px -6px rgba(0,0,0,0.6);
}

.custom-container {
    position: relative;
    height: 50px;
    width: 50px;
    display: inline-block;
}

[type="radio"].custom:checked,
[type="radio"].custom:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"].custom:checked + .radio-holder,
[type="radio"].custom:not(:checked) + label
{
    position: relative;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;

}
[type="radio"].custom:checked + label:before,
[type="radio"].custom:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 2;

}
[type="radio"].custom:checked + label:after,
[type="radio"].custom:not(:checked) + label:after {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100%;
    background: #2B2B2B;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

label.alive:before {
    background: url("../img/icons/alive.svg") no-repeat;
}
label.dead:before {
    background: url("../img/icons/dead.svg") no-repeat;
}

label.white-walker:before {
    background: url("../img/icons/whitewalker.svg") no-repeat;
}

[type="radio"].custom:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"].custom:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

small {
    color: #999999;
}

.header-menu {
    background: #000000;
}

.header-menu h5 {
    color: #FFF;
}

.logo {

}
.logo img {
    max-width: 200px;
}

.prode table {
    margin-top: 30px;
    width: 100%;
    margin-bottom: 20px;
}

.tabs-container {
    margin-bottom: 30px;
}

.images {
    position: relative;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

small {
    margin-top: 5px;
}

img.dead {
    filter: grayscale(100%);
}

img.white-walker {
    filter: sepia(100%) hue-rotate(190deg) saturate(150%);
}

@media (min-width: 360px) {
    .nav.nav-tabs > li {
        width: 25%;
        text-align: center;
    }
}

@media (min-width: 1024px) {
    .nav.nav-tabs > li {
        width: 15%;
        text-align: center;
    }
}

.nav.nav-tabs > li > a,  .nav.nav-tabs > li.active > a{
    border: none;
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 0.8px;
    font-weight: 600;
    color: #2b2d30;
    border-radius: 0 0 4px 4px;
}

.nav.nav-tabs {
    border-bottom: 0;
}

.nav.nav-tabs > li > a {
    margin-right: 0;
    color: #555;
}

.nav.nav-tabs > li > a:hover {
    background: #c4e0e9;
    color: #2b2d30;
}

.nav.nav-tabs > li.active > a {
    background: #9bbfcb;
}

.leaderboard table.table {
    color: #2b2d30;
    width: 100%;
}  

.leaderboard .col-md-12 {
    padding: 0;
}

.crown-custom {
    color: rgb(245, 217, 54);
    font-size: 16px;
    vertical-align: baseline;    
    margin-right: 2px;
}